.button-section {
    margin-left: 1rem;
    margin-right: 1rem;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.add-section {
    margin-bottom: 1rem;
}

.add-task {
    margin-bottom: 1rem;
}

.filter-title {
    margin-left: 2rem;
}

.switch-filter {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.button-filter {
    margin-left: 1rem;
}

.back-button {
    margin-left: 1rem;
}

.button-back-task {
    margin-left: 1rem;
}

.button-logout {
    margin-left: 1rem;
}

.profile-card {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
